@import "util.css";
@import "i18n.css";
@import "panelMenu.css";
@import "menuModern.css";
@import "intro.css";
@import "servicesSlide.css";
@import "amicaInfo.css";
@import "contactUs.css";
@import "footer.css";

body{
    background-color: #049d9a !important;
    color: #114833 !important;
    font-family: sans-serif !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #049d9a;
    height: 100%;
    padding: 20px;
    align-items: center;
}

.margin-top{
    margin-top: 20px;
}
@media (min-width: 1024px){
    body{
        font-size: 20px !important;
    }
}