.language ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.lan-selected{
    padding: 10px 15px;
    margin-bottom: 3px;
    border-radius: 5px;
    border: 0;
    background-color: #004346;
    color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    width: 75px;
}

.language .drop-menu li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.language .drop-menu li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.language .drop-menu {
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-radius: 5px;
    width: 60px;
    margin-left: 8px !important;
    
}


.lan-items{
    padding-top: 5px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 5px !important;    
    border: 0;
    background-color: #004346;
    color: white;    
    cursor: pointer;
}
.lan-items:hover{
    background-color: #09bc8a;
    color: black;
}

